.faq-container {
  margin: 0;
  padding: 0;
}

.faq-item {
  margin-bottom: 1rem;
}

.faq-question {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #fff;
  color: #333;
  border: none;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding: 1rem;
  outline: none;
}

.faq-answer {
  display: none;
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #ddd;
  border-top: none;
  width: 100%;
  text-align: left;
  font-size: 1rem;
  line-height: 1.4;
}

.container {
			max-width: 800px;
			margin: 0 auto;
			padding: 20px;
		}
		.accordion {
			background-color: #eee;
			color: #444;
			cursor: pointer;
			padding: 18px;
			width: 100%;
			border: none;
			text-align: left;
			outline: none;
			font-size: 18px;
			transition: 0.4s;
		}
		.active, .accordion:hover {
			background-color: #ccc;
		}
		.panel {
			padding: 0 18px;
			background-color: white;
			display: none;
			overflow: hidden;
		}
      .title{
        text-align: center;
      }


      .accordion.center  {
       text-align:center;
      }
      
      .accordion.right {
        text-align:right;
      }

      .panel.center  {
       text-align:cenetr;
      }
      
      .panel.right {
        text-align:right;
      }

      .faq__blocks {
        width: 100%;
      }


.circle-image {
  border-radius: 50%;
  overflow: hidden;
  width: 200px; /* Adjust the size as needed */
  height: 200px; /* Adjust the size as needed */
}
